* {
  font-family: "Montserrat", sans-serif;
  /* color: rgb(52 52 52); */
  color: #fff;
}

.icons {
  width: 50px;
  height: 50px;
}

.buttons {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
}

.buttons:hover,
.player_buttons:hover {
  background-color: rgb(255, 166, 0);
}

.buttons:focus,
.player_buttons:focus {
  outline: none;
  background-color: rgb(255, 166, 0);
}
.buttons:active,
.player_buttons:active {
  border: inset;
  border-color: black;
  border-width: 2px;
}

#comp {
  border-style: none;
}
#comp:focus {
  background-color: white;
}

#comp:hover {
  background-color: white;
}

#comp:active {
  border-style: none;
}

#compChoice {
  text-align: center;
}

#container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  justify-items: center;
  padding: 10px;
  width: 250px;
  justify-self: center;
}

#rock {
  justify-self: end;
}

#scissors {
  justify-self: start;
}

#reset {
  margin: 0 auto 36px;
  border-style: none;
}
#reset:active {
  border-style: inset;
}

#winner {
  text-align: center;
}

#score {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.players-text {
  text-align: center;
  font-size: 2em;
  margin: 20px;
}

.player_buttons {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  border-style: none;
  border: 1px solid black;
}

#comp-img {
  visibility: hidden;
}

#game {
  border: 2px solid black;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(33, 62, 79, 1) 35%,
    rgba(118, 127, 130, 1) 100%
  );
  margin: 100px auto 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  max-width: 80%;
}

#final {
  color: rgb(255, 166, 0);
}
