* {
  font-family: "Montserrat", sans-serif;
}
.icons {
  width: 50px;
  height: 50px;
}
.buttons {
  width: 70px;
  height: 70px;
}
#comp {
  width: 70px;
  height: 70px;
}
#compChoice {
  text-align: center;
}
#container {
  display: grid;
  margin: 0 auto;
  background-color: rgb(52 52 52);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 10px;
  max-width: 45%;
}
#rock {
  justify-self: end;
}
#scissors {
  justify-self: start;
}
#reset {
  margin: 0 auto;
}

#score {
  font-size: 25px;
}

.players-text {
  text-align: center;
  font-size: 40px;
  margin: 20px;
}
